<?xml version='1.0' encoding='utf-8' ?>
<manifest android:versionCode="54200"
          android:versionName="5.4.2.0.0-20251202"
          android:compileSdkVersion="35"
          android:compileSdkVersionCodename="15"
          coreApp="true"
          package="com.miui.packageinstaller"
          platformBuildVersionCode="35"
          platformBuildVersionName="15" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="28"
            android:targetSdkVersion="34" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT" />
  <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.android.settings.permission.CLOUD_SETTINGS_PROVIDER" />
  <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.MANAGE_BIOMETRIC" />
  <uses-permission android:name="android.permission.DELETE_PACKAGES" />
  <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
  <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
  <uses-permission android:name="android.permission.USE_RESERVED_DISK" />
  <uses-permission android:name="android.permission.RESET_FINGERPRINT_LOCKOUT" />
  <uses-permission android:name="android.permission.MANAGE_USERS" />
  <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
  <uses-permission android:name="android.permission.READ_INSTALL_SESSIONS" />
  <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.KILL_UID" />
  <uses-permission android:name="android.permission.MANAGE_APP_OPS_RESTRICTIONS" />
  <uses-permission android:name="android.permission.HIDE_NON_SYSTEM_OVERLAY_WINDOWS" />
  <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE" />
  <uses-permission android:name="android.permission.USE_BIOMETRIC_INTERNAL" />
  <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS" />
  <uses-permission android:name="android.permission.READ_SETTINGS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE"
                   android:maxSdkVersion="28" />
  <uses-permission android:name="android.permission.REAL_GET_TASKS" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.REORDER_TASKS" />
  <uses-permission android:name="com.miui.guardprovider.permission.Guard_Provider" />
  <uses-permission android:name="com.miui.securitycenter.permission.ACCESS_SECURITY_CENTER_PROVIDER" />
  <uses-permission android:name="miui.permission.USE_INTERNAL_GENERAL_API" />
  <uses-permission android:name="com.miui.cleanmaster.permission.Clean_Master" />
  <uses-permission android:name="com.miui.cleanmaster.permission.InstallCleanMaster" />
  <uses-permission android:name="com.miui.monthreport.permission.DATA_MONTH_REPORT" />
  <permission android:name="miui.packageinstaller.permission.ACTION_INFO"
              android:protectionLevel="signatureOrSystem" />
  <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES" />
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
  <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
  <uses-permission android:name="android.permission.START_ANY_ACTIVITY" />
  <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
  <uses-permission android:name="android.permission.ACCESS_MTP" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
  <uses-permission android:name="android.permission.READ_INSTALLED_SESSION_PATHS" />
  <permission android:name="miui.packageinstaller.permission.ConfigSecurityMode"
              android:protectionLevel="signatureOrSystem" />
  <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
  <uses-permission android:name="miui.permission.READ_AND_WIRTE_PERMISSION_MANAGER" />
  <uses-permission android:name="android.permission.MANAGE_ENHANCED_CONFIRMATION_STATES" />
  <uses-permission android:name="com.xiaomi.security.xsof.permission.ACCESS_XSOF_FRAUD_DETECTION" />
  <permission android:name="com.miui.security.permission.managerRiskApp"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="com.miui.security.permission.installOtherApp"
              android:protectionLevel="signatureOrSystem" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
  <queries>
    <package android:name="de.robv.android.xposed.installer" />
    <package android:name="com.saurik.substrate" />
    <package android:name="com.xiaomi.account" />
    <package android:name="com.xiaomi.controlscreen.account" />
    <package android:name="com.tencent.mm" />
    <package android:name="com.tencent.mobileqq" />
    <package android:name="com.facebook.katana" />
    <package android:name="com.sina.weibo" />
    <package android:name="com.xiaomi.smarthome" />
    <package android:name="com.miui.greenguard" />
    <package android:name="com.mi.health" />
    <package android:name="com.android.mms" />
    <intent>
      <action android:name="android.intent.action.MAIN" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
    </intent>
    <intent>
      <action android:name="android.intent.action.SEND" />
    </intent>
    <intent>
      <action android:name="com.android.camera.action.CROP" />
    </intent>
  </queries>
  <permission android:name="com.miui.packageinstaller.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
              android:protectionLevel="signature" />
  <uses-permission android:name="com.miui.packageinstaller.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
  <application android:theme="@style/Theme.DialogWhenLarge"
               android:label="@string/app_name"
               android:icon="@drawable/ic_launcher"
               android:name="com.android.packageinstaller.InstallerApplication"
               android:backupAgent="com.miui.packageInstaller.MyBackupAgent"
               android:allowBackup="true"
               android:supportsRtl="true"
               android:fullBackupOnly="true"
               android:extractNativeLibs="false"
               android:resizeableActivity="false"
               android:networkSecurityConfig="@xml/network_security_config"
               android:appComponentFactory="androidx.core.app.CoreComponentFactory"
               android:requestLegacyExternalStorage="true">
    <property android:name="android.view.PROPERTY_MIUI_SMOOTH_CORNER_ENABLED"
              android:value="true" />
    <uses-library android:name="com.miui.system"
                  android:required="false" />
    <meta-data android:name="android.max_aspect"
               android:value="2.3" />
    <meta-data android:name="security_space_version"
               android:value="1" />
    <meta-data android:name="miui.supportAppContinuity"
               android:value="true" />
    <meta-data android:name="android.supports_size_changes"
               android:value="true" />
    <meta-data android:name="support_risk_app_permission_detailed_control_v2"
               android:value="true" />
    <meta-data android:name="supportInstallInfoTransfer"
               android:value="true" />
    <activity android:theme="@style/TranslucentActivityStyle"
              android:name="com.miui.packageInstaller.InstallStart"
              android:exported="true"
              android:excludeFromRecents="true"
              android:launchMode="singleInstance">
      <intent-filter android:priority="1">
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.INSTALL_PACKAGE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="package" />
        <data android:scheme="file" />
        <data android:scheme="content" />
        <data android:mimeType="application/vnd.android.package-archive" />
      </intent-filter>
      <intent-filter android:priority="1">
        <action android:name="android.intent.action.INSTALL_PACKAGE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="package" />
        <data android:scheme="file" />
        <data android:scheme="content" />
      </intent-filter>
      <intent-filter android:priority="1">
        <action android:name="android.content.pm.action.CONFIRM_INSTALL" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter android:priority="1">
        <action android:name="android.content.pm.action.CONFIRM_PERMISSIONS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter android:priority="1">
        <action android:name="android.content.pm.action.CONFIRM_PRE_APPROVAL" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.DayNight.NoTitle"
              android:name="com.miui.packageInstaller.NewInstallerPrepareActivity"
              android:excludeFromRecents="true"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:name="com.miui.packageInstaller.UnknownSourceActivity"
              android:excludeFromRecents="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:name="com.miui.packageInstaller.ui.ChildAccountInstallerActivity"
              android:excludeFromRecents="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:name="com.miui.packageInstaller.ui.normalmode.InstallProgressActivity"
              android:exported="false"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@style/BaseDialog"
              android:name="com.miui.packageInstaller.ui.dialog.DebugCrashDialog"
              android:exported="false"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:name="com.miui.packageInstaller.AppDesImageActivity"
              android:exported="false"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <receiver android:name="com.android.packageinstaller.common.TemporaryFileManager"
              android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <activity android:name="com.android.packageinstaller.InstallStart"
              android:exported="false"
              android:excludeFromRecents="true" />
    <activity android:name="com.android.packageinstaller.InstallStaging"
              android:exported="false" />
    <activity android:name="com.android.packageinstaller.DeleteStagedFileOnResult"
              android:exported="false" />
    <activity android:name="com.android.packageinstaller.PackageInstallerActivity"
              android:exported="false" />
    <activity android:name="com.android.packageinstaller.InstallInstalling"
              android:exported="false" />
    <receiver android:name="com.android.packageinstaller.common.InstallEventReceiver"
              android:permission="android.permission.INSTALL_PACKAGES"
              android:exported="false">
      <intent-filter android:priority="1">
        <action android:name="com.android.packageinstaller.ACTION_INSTALL_COMMIT" />
      </intent-filter>
    </receiver>
    <activity android:name="com.android.packageinstaller.InstallSuccess"
              android:exported="false" />
    <activity android:name="com.android.packageinstaller.InstallFailed"
              android:exported="false" />
    <receiver android:name="com.android.packageinstaller.common.UninstallEventReceiver"
              android:permission="android.permission.INSTALL_PACKAGES"
              android:exported="false">
      <intent-filter android:priority="1">
        <action android:name="com.android.packageinstaller.ACTION_UNINSTALL_COMMIT" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.android.packageinstaller.PackageInstalledReceiver"
              android:exported="false">
      <intent-filter android:priority="1">
        <action android:name="android.intent.action.PACKAGE_ADDED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <activity android:name="com.android.packageinstaller.UninstallUninstalling"
              android:exported="false"
              android:excludeFromRecents="true" />
    <receiver android:name="com.android.packageinstaller.UninstallFinish"
              android:exported="false" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:name="com.android.packageinstaller.UninstallerActivity"
              android:exported="false"
              android:excludeFromRecents="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:name="com.android.packageinstaller.UninstallAppProgress"
              android:exported="false"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="  "
              android:name="com.android.packageinstaller.miui.PermissionInfoActivity"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="  "
              android:name="com.android.packageinstaller.miui.OtherPermissionInfoActivity"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="@string/risk_app_install_manager"
              android:name="com.miui.packageInstaller.ui.secure.RiskAppAuthActivity"
              android:exported="true"
              android:launchMode="singleTop"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenSize">
      <intent-filter>
        <action android:name="com.miui.packageinstaller.RISK_AUTH" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="@string/risk_app_install_history"
              android:name="com.miui.packageInstaller.ui.secure.RiskAppAuthHistoryActivity"
              android:exported="true"
              android:launchMode="singleTop"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="@string/risk_app_trust"
              android:name="com.miui.packageInstaller.ui.secure.RiskAppTrustListActivity"
              android:exported="true"
              android:launchMode="singleTop"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="@string/risk_app_trust_download"
              android:name="com.miui.packageInstaller.ui.secure.RiskAppTrustDetailActivity"
              android:exported="false"
              android:launchMode="singleTop"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <provider android:name="com.miui.packageInstaller.provider.SecurityModeRiskAppProvider"
              android:permission="com.miui.security.permission.managerRiskApp"
              android:exported="true"
              android:multiprocess="false"
              android:authorities="com.miui.packageInstaller.provider.SecurityModeRiskAppProvider" />
    <provider android:name="com.miui.packageInstaller.provider.ProhibitInstallOtherAppProvider"
              android:permission="com.miui.security.permission.installOtherApp"
              android:exported="true"
              android:multiprocess="false"
              android:authorities="com.miui.packageInstaller.provider.ProhibitInstallOtherAppProvider" />
    <provider android:name="androidx.core.content.FileProvider"
              android:exported="false"
              android:authorities="com.miui.packageinstaller.provider"
              android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/provider_paths" />
    </provider>
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="@string/secure_mode_security_verify"
              android:name="com.miui.packageInstaller.ui.secure.SecurityModeVerifyActivity"
              android:exported="false"
              android:screenOrientation="locked" />
    <activity android:theme="@style/Theme.DayNight.NoTitle"
              android:name="com.miui.packageInstaller.ui.secure.SecurityModeFeedBackActivity"
              android:exported="false"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
              android:windowSoftInputMode="adjustResize" />
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="@string/settings"
              android:name="com.android.packageinstaller.SettingsActivity"
              android:exported="false"
              android:screenOrientation="locked" />
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:label="@string/pref_key_developer_services"
              android:name="com.android.packageinstaller.DeveloperServicesActivity"
              android:exported="false"
              android:screenOrientation="locked" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:name="com.miui.packageInstaller.ui.secure.InstallerWebViewActivity"
              android:exported="true"
              android:screenOrientation="locked">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="miui_packageinstaller"
              android:host="browse" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.NoTitle.soft"
              android:name="com.miui.packageInstaller.ui.secure.AppFilingInfoWebActivity"
              android:exported="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
              android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:label="@string/child_identity_verify"
              android:name="com.miui.packageInstaller.ui.ChildIdentifyWebViewActivity"
              android:exported="false"
              android:excludeFromRecents="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:label="@string/safe_mode"
              android:name="com.miui.packageInstaller.ui.secure.SecureModeActivity"
              android:exported="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="miui_packageinstaller"
              android:host="com.miui.packageinstaller"
              android:path="/safe_mode" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="content" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:label="@string/security_mode_introduce_setting"
              android:name="com.miui.packageInstaller.ui.secure.SecureModeSettingsActivity"
              android:exported="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="miui_packageinstaller"
              android:host="com.miui.packageinstaller"
              android:path="/safe_mode_settings" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.DayNight"
              android:name="com.miui.packageInstaller.DeveloperComplaintActivity"
              android:exported="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="miui_packageinstaller"
              android:host="devcomplaint" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.Settings.Miuix"
              android:name="com.miui.packageInstaller.DeveloperComplaintResultActivity"
              android:exported="true"
              android:screenOrientation="locked"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Theme.NoDisplay"
              android:name="com.miui.packageInstaller.guide.SecurityModeGuideActivity"
              android:permission="miui.packageinstaller.permission.ConfigSecurityMode"
              android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="security"
              android:host="security_mode" />
      </intent-filter>
    </activity>
    <service android:name="com.miui.packageInstaller.guide.SecurityModeGuideService"
             android:permission="miui.packageinstaller.permission.ConfigSecurityMode"
             android:exported="true">
      <intent-filter>
        <action android:name="com.miui.security.security_mode.GUIDE" />
        <data android:scheme="security"
              android:host="security_mode" />
      </intent-filter>
    </service>
    <activity android:theme="@style/ThemeAlertActivity"
              android:name="com.miui.packageInstaller.ui.secure.SecurityAuthorizeActivity"
              android:exported="true"
              android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="com.miui.security.security_mode.AUTHORIZE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/ThemeAlertActivity"
              android:name="com.miui.packageInstaller.ui.InstallPrepareAlertActivity"
              android:exported="false"
              android:excludeFromRecents="true"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Theme.DayNight.ActionBar"
              android:name="com.miui.packageInstaller.ui.securemode.SecureModeAdvantageActivity"
              android:exported="true"
              android:screenOrientation="locked">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="security"
              android:host="security_mode_advantage" />
      </intent-filter>
    </activity>
    <activity android:theme="@android:style/Theme.NoDisplay"
              android:name="com.android.packageinstaller.UninstallStart"
              android:exported="true"
              android:excludeFromRecents="true">
      <intent-filter android:priority="1">
        <action android:name="android.intent.action.DELETE" />
        <action android:name="android.intent.action.UNINSTALL_PACKAGE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="package" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/ThemeAlertActivity"
              android:name="com.android.packageinstaller.aosp.UninstallerActivity"
              android:exported="false"
              android:excludeFromRecents="true"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:noHistory="true" />
    <receiver android:name="com.android.packageinstaller.aosp.common.UninstallEventReceiver"
              android:permission="android.permission.INSTALL_PACKAGES"
              android:exported="false">
      <intent-filter android:priority="1">
        <action android:name="com.android.packageinstaller.ACTION_UNINSTALL_COMMIT" />
      </intent-filter>
    </receiver>
    <activity android:theme="@style/ThemeAlertActivity"
              android:name="com.android.packageinstaller.aosp.UninstallUninstalling"
              android:exported="false"
              android:excludeFromRecents="true" />
    <receiver android:name="com.android.packageinstaller.aosp.UninstallFinish"
              android:exported="false" />
    <activity android:theme="@style/ThemeAlertActivity"
              android:name="com.android.packageinstaller.aosp.UnarchiveActivity"
              android:exported="true"
              android:excludeFromRecents="true"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:noHistory="true">
      <intent-filter android:priority="1">
        <action android:name="com.android.intent.action.UNARCHIVE_DIALOG" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/ThemeAlertActivity"
              android:name="com.android.packageinstaller.aosp.UnarchiveErrorActivity"
              android:exported="true"
              android:excludeFromRecents="true"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:noHistory="true">
      <intent-filter android:priority="1">
        <action android:name="com.android.intent.action.UNARCHIVE_ERROR_DIALOG" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <provider android:name="com.miui.packageInstaller.guide.SecurityModeGuideProvider"
              android:permission="miui.packageinstaller.permission.ConfigSecurityMode"
              android:exported="true"
              android:authorities="security_mode" />
    <receiver android:name="com.android.packageinstaller.AppActiveReceiver"
              android:exported="true">
      <intent-filter>
        <action android:name="miui.intent.action.PACKAGE_FIRST_LAUNCH" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <service android:name="com.android.packageinstaller.AppActiveStatService"
             android:exported="true" />
    <meta-data android:name="market_sdk_version"
               android:value="3.2.26" />
    <meta-data android:name="miuixpreference"
               android:value="3.1" />
    <meta-data android:name="os_private_label"
               android:value="PRIVATE_OS030" />
    <meta-data android:name="appcompat"
               android:value="3.1" />
    <service android:name="com.xiaomi.passport.accountmanager.OwnAppXiaomiAccountAuthenticatorService"
             android:exported="false">
      <intent-filter>
        <action android:name="com.xiaomi.accounts.AccountAuthenticator" />
      </intent-filter>
    </service>
    <service android:name="com.xiaomi.account.service.AppAccountExchangeService"
             android:permission="com.xiaomi.permission.CLOUD_MANAGER"
             android:exported="true">
      <intent-filter>
        <action android:name="com.xiaomi.account.action.BIND_ACCOUNT_EXCHANGE_SERVICE_V2" />
      </intent-filter>
    </service>
    <uses-library android:name="org.apache.http.legacy"
                  android:required="false" />
    <activity android:theme="@style/PassportTheme.NoActionBar"
              android:name="com.xiaomi.passport.ui.internal.PickCountryCodeActivity"
              android:exported="false" />
    <activity android:theme="@style/PassportTheme.Transparent"
              android:label=""
              android:name="com.xiaomi.passport.ui.page.UserAvatarUpdateActivity"
              android:exported="false"
              android:screenOrientation="portrait" />
    <provider android:name="com.xiaomi.passport.ui.settings.provider.PassportFileProvider"
              android:exported="false"
              android:authorities="com.miui.packageinstaller.passport.fileprovider"
              android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/passport_provider_file_paths" />
    </provider>
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:name="com.xiaomi.passport.ui.sns.WXEntryActivity"
              android:exported="true" />
    <activity android:theme="@style/PassportTheme.NoActionBar"
              android:name="com.xiaomi.passport.ui.internal.ConfirmCredentialActivity"
              android:exported="false"
              android:excludeFromRecents="true"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="com.xiaomi.account.action.XIAOMI_ACCOUNT_QUICK_LOGIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/PassportTheme.NoActionBar"
              android:name="com.xiaomi.passport.ui.page.AccountLoginActivity"
              android:exported="false"
              android:excludeFromRecents="true"
              android:screenOrientation="behind"
              android:windowSoftInputMode="adjustPan|stateHidden" />
    <activity android:theme="@style/PassportTheme.NoActionBar"
              android:label="@string/passport_account_user_details"
              android:name="com.xiaomi.passport.ui.page.UserInfoActivity"
              android:exported="false" />
    <activity android:theme="@style/PassportTheme.NoActionBar"
              android:name="com.xiaomi.passport.ui.internal.PassportJsbWebViewActivity"
              android:exported="false"
              android:launchMode="singleTop" />
    <meta-data android:name="flexible"
               android:value="1.0" />
    <meta-data android:name="miuixbasewidget"
               android:value="1.0" />
    <meta-data android:name="miuixstretchablewidget"
               android:value="1.0" />
    <meta-data android:name="slidingwidget"
               android:value="1.0" />
    <meta-data android:name="popupwidget"
               android:value="1.0" />
    <meta-data android:name="pickerwidget"
               android:value="1.0" />
    <meta-data android:name="androidbasewidget"
               android:value="1.0" />
    <meta-data android:name="viewpager2"
               android:value="2.0" />
    <meta-data android:name="viewpager"
               android:value="2.0" />
    <meta-data android:name="springback"
               android:value="3.1" />
    <meta-data android:name="recyclerview"
               android:value="2.0" />
    <meta-data android:name="recyclerview_card"
               android:value="1.0" />
    <meta-data android:name="cardview"
               android:value="1.0" />
    <meta-data android:name="nest"
               android:value="2.0" />
    <meta-data android:name="dynamicoverscroller"
               android:value="2.0" />
    <meta-data android:name="recyclerview_animator"
               android:value="2.0" />
    <meta-data android:name="folme"
               android:value="2.0" />
    <meta-data android:name="textutilities"
               android:value="2.0" />
    <meta-data android:name="haptic"
               android:value="1.0" />
    <meta-data android:name="graphics"
               android:value="2.0" />
    <meta-data android:name="smooth"
               android:value="1.0" />
    <meta-data android:name="core"
               android:value="2.0" />
    <provider android:name="androidx.startup.InitializationProvider"
              android:exported="false"
              android:authorities="com.miui.packageinstaller.androidx-startup">
      <meta-data android:name="androidx.work.WorkManagerInitializer"
                 android:value="androidx.startup" />
      <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer"
                 android:value="androidx.startup" />
      <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                 android:value="androidx.startup" />
      <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                 android:value="androidx.startup" />
    </provider>
    <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
             android:enabled="@bool/enable_system_alarm_service_default"
             android:exported="false"
             android:directBootAware="false" />
    <service android:name="androidx.work.impl.background.systemjob.SystemJobService"
             android:permission="android.permission.BIND_JOB_SERVICE"
             android:enabled="@bool/enable_system_job_service_default"
             android:exported="true"
             android:directBootAware="false" />
    <service android:name="androidx.work.impl.foreground.SystemForegroundService"
             android:enabled="@bool/enable_system_foreground_service_default"
             android:exported="false"
             android:directBootAware="false" />
    <receiver android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
              android:enabled="true"
              android:exported="false"
              android:directBootAware="false" />
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.BATTERY_OKAY" />
        <action android:name="android.intent.action.BATTERY_LOW" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
        <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
              android:enabled="false"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.TIME_SET" />
        <action android:name="android.intent.action.TIMEZONE_CHANGED" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
              android:enabled="@bool/enable_system_alarm_service_default"
              android:exported="false"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
              android:permission="android.permission.DUMP"
              android:enabled="true"
              android:exported="true"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
      </intent-filter>
    </receiver>
    <activity android:theme="@style/WhiteBackgroundTheme"
              android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
              android:exported="true">
      <intent-filter android:priority="-100">
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/WhiteBackgroundTheme"
              android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
              android:exported="true">
      <intent-filter android:priority="-100">
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/WhiteBackgroundDialogTheme"
              android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
              android:exported="true">
      <intent-filter android:priority="-100">
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data android:name="theme"
               android:value="1.0" />
    <meta-data android:name="spring"
               android:value="1.0" />
    <uses-library android:name="androidx.window.extensions"
                  android:required="false" />
    <uses-library android:name="androidx.window.sidecar"
                  android:required="false" />
    <service android:name="androidx.room.MultiInstanceInvalidationService"
             android:exported="false"
             android:directBootAware="true" />
    <receiver android:name="com.xiaomi.milogsdk.PushUploadLogReceiver"
              android:exported="true">
      <intent-filter>
        <action android:name="com.xiaomi.milogsdk.UPLOAD_LOG_BY_SDK" />
        <data android:mimeType="application/zip" />
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver"
              android:permission="android.permission.DUMP"
              android:enabled="true"
              android:exported="true"
              android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.SKIP_FILE" />
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.SAVE_PROFILE" />
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION" />
      </intent-filter>
    </receiver>
    <meta-data android:name="animation"
               android:value="1.0" />
    <meta-data android:name="devicebaseinfo"
               android:value="1.0" />
  </application>
</manifest>