<?xml version='1.0' encoding='utf-8' ?>
<manifest android:sharedUserId="android.uid.system"
          android:versionCode="485"
          android:versionName="2.4.85"
          android:singleUser="true"
          android:compileSdkVersion="35"
          android:compileSdkVersionCodename="15"
          package="com.xiaomi.joyose"
          platformBuildVersionCode="35"
          platformBuildVersionName="15" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="24"
            android:targetSdkVersion="35" />
  <permission android:name="miui.permission.JOYOSE"
              android:protectionLevel="signature" />
  <permission android:name="com.xiaomi.joyose.permission.CLOUD_SERVER_RECEIVER"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="xiaomi.permission.joyose.OVERLOAD_STATUS"
              android:protectionLevel="signatureOrSystem" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="com.android.settings.permission.READ_SETTINGS" />
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
  <uses-permission android:name="com.xiaomi.joyose.permission.ACCESS_PROVIDER" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.BROADCAST_STICKY" />
  <uses-permission android:name="com.miui.powerkeeper.permission.BIND_SERVICE" />
  <uses-permission android:name="com.miui.securitycenter.permission.ACCESS_SECURITY_CENTER_PROVIDER" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
  <uses-permission android:name="com.android.traceur.AUTO_TRACE" />
  <permission android:name="miui.permission.joyose.BOOST_REQUEST"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="android.permission.GUN_SIGHT_SERVICE"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="android.permission.joyose.RECOGNIZE_SCENE"
              android:protectionLevel="signatureOrSystem" />
  <queries>
    <intent>
      <action android:name="com.xiaomi.venus.gameai.RUNNING_SERVICE" />
    </intent>
    <package android:name="com.xiaomi.migameservice" />
    <package android:name="com.xiaomi.joyose" />
    <package android:name="com.xiaomi.gamecenter" />
  </queries>
  <uses-permission android:name="com.venus.gameai.permission.AI_SERVICE" />
  <application android:label="@string/joyose_name"
               android:name="com.xiaomi.joyose.JoyoseApplication"
               android:process="com.xiaomi.joyose"
               android:allowBackup="false"
               android:supportsRtl="true"
               android:extractNativeLibs="false"
               android:networkSecurityConfig="@xml/network_security_config">
    <service android:name="com.xiaomi.joyose.gameInfo.GameInfoService"
             android:permission="miui.permission.JOYOSE"
             android:enabled="true"
             android:exported="true">
      <intent-filter>
        <action android:name="game_info" />
      </intent-filter>
    </service>
    <activity android:name="com.xiaomi.joyose.cloud.LocalCtrlActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait" />
    <uses-library android:name="com.android.location.provider" />
    <meta-data android:name="android.max_aspect"
               android:value="2.2" />
    <meta-data android:name="miui_flashback_support"
               android:value="true" />
    <meta-data android:name="joyose_game_turbo_api_version"
               android:value="3" />
    <provider android:name="com.xiaomi.joyose.smartop.provider.GameInfoProvider"
              android:exported="true"
              android:authorities="com.xiaomi.Joyose.provider" />
    <receiver android:name="com.xiaomi.joyose.smartop.gamebooster.receiver.BoostRequestReceiver"
              android:permission="miui.permission.joyose.BOOST_REQUEST"
              android:enabled="true"
              android:exported="true">
      <intent-filter>
        <action android:name="joyo_mtk_perfLockAcquire" />
        <action android:name="joyo_mtk_perfLockReleaseHandler" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.xiaomi.joyose.JoyoseBroadCastReceiver"
              android:enabled="true"
              android:exported="true">
      <intent-filter>
        <action android:name="exit_sleep_mode_action" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <service android:name="com.xiaomi.joyose.smartop.SmartOpService"
             android:exported="true" />
    <service android:name="com.xiaomi.joyose.JoyoseJobScheduleService"
             android:permission="android.permission.BIND_JOB_SERVICE"
             android:exported="false" />
    <service android:name="com.xiaomi.joyose.predownload.PreDownloadJobScheduler"
             android:permission="android.permission.BIND_JOB_SERVICE"
             android:exported="false" />
    <service android:name="com.xiaomi.joyose.smartop.gamebooster.scenerecognize.SceneRecognizeService"
             android:permission="android.permission.joyose.RECOGNIZE_SCENE"
             android:exported="true" />
    <receiver android:name="com.xiaomi.joyose.cloud.CloudServerReceiver"
              android:permission="com.xiaomi.joyose.permission.CLOUD_SERVER_RECEIVER"
              android:exported="true">
      <intent-filter>
        <action android:name="update_profile" />
        <action android:name="update_miui_cloud_profile" />
      </intent-filter>
    </receiver>
    <service android:name="com.xiaomi.joyose.securitycenter.GPUTunerService"
             android:exported="true">
      <intent-filter>
        <action android:name="gpu_tuner" />
      </intent-filter>
    </service>
    <service android:name="com.xiaomi.joyose.ui.gunsight.GunSightService"
             android:permission="android.permission.GUN_SIGHT_SERVICE"
             android:exported="true"
             android:process=":gunsight_service">
      <intent-filter>
        <action android:name="gun_sight" />
      </intent-filter>
    </service>
    <uses-native-library android:name="libupdateprof.qti.so"
                         android:required="false" />
    <provider android:name="com.xiaomi.joyose.smartop.gamebooster.scenerecognize.OverloadStatusProvider"
              android:permission="xiaomi.permission.joyose.OVERLOAD_STATUS"
              android:exported="true"
              android:authorities="joyose.provider.OverloadStatusProvider" />
  </application>
</manifest>