<?xml version='1.0' encoding='utf-8' ?>
<manifest android:versionCode="1"
          android:versionName="1.0"
          android:compileSdkVersion="35"
          android:compileSdkVersionCodename="15"
          package="com.miui.systemui.overlay.devices.android"
          platformBuildVersionCode="35"
          platformBuildVersionName="15" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="35"
            android:targetSdkVersion="35" />
  <overlay android:priority="1000"
           android:targetPackage="android"
           android:isStatic="true" />
  <application android:label="DevicesAndroidOverlay"
               android:hasCode="false"
               android:extractNativeLibs="false" />
</manifest>