<?xml version='1.0' encoding='utf-8' ?>
<manifest android:sharedUserId="android.uid.system"
          android:versionCode="40200"
          android:versionName="4.2.00"
          android:compileSdkVersion="36"
          android:compileSdkVersionCodename="16"
          package="com.miui.powerkeeper"
          platformBuildVersionCode="36"
          platformBuildVersionName="16" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="36"
            android:targetSdkVersion="35" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.BATTERY_STATS" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BROADCAST_STICKY" />
  <uses-permission android:name="android.permission.CHANGE_APP_IDLE_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />
  <uses-permission android:name="android.permission.CONTROL_DISPLAY_BRIGHTNESS" />
  <uses-permission android:name="android.permission.CONTROL_INCALL_EXPERIENCE" />
  <uses-permission android:name="android.permission.DEVICE_POWER" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
  <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
  <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES" />
  <uses-permission android:name="android.permission.MANAGE_LOCATION_POLICY" />
  <uses-permission android:name="android.permission.MANAGE_USERS" />
  <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
  <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.READ_SYNC_STATS" />
  <uses-permission android:name="android.permission.REAL_GET_TASKS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.TETHER_PRIVILEGED" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
  <uses-permission android:name="com.miui.klo.bugreport.permission.KLO_STARTUP_RECEIVER" />
  <uses-permission android:name="com.miui.powerkeeper.permission.CUSTOMER_POWER" />
  <uses-permission android:name="com.miui.powerkeeper.permission.POWER_NOTIFY" />
  <uses-permission android:name="com.miui.securitycenter.permission.TOP_GAME_LIST" />
  <uses-permission android:name="com.xiaomi.permission.READPROC" />
  <uses-permission android:name="com.xiaomi.joyose.permission.app_bucket_predict" />
  <uses-permission android:name="com.xiaomi.misettings.screentime" />
  <uses-permission android:name="miui.permission.powerkeeper.HIDDEN_MODE_PROVIDER" />
  <uses-permission android:name="miui.permission.USE_INTERNAL_GENERAL_API" />
  <uses-permission android:name="hyper.permission.POWER_MODE_LEVEL" />
  <permission android:name="miui.permission.powerkeeper.HIDDEN_MODE_PROVIDER"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="com.miui.powerkeeper.permission.AI_EVENT"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="com.miui.powerkeeper.permission.KILL_CAMERA"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="com.miui.powerkeeper.permission.CUSTOMER_POWER"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="com.miui.powerkeeper.permission.POWER_NOTIFY"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="com.miui.powerkeeper.permission.REQUEST_WAKE"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="com.miui.powerkeeper.permission.BIND_SERVICE"
              android:protectionLevel="signatureOrSystem" />
  <permission android:name="hyper.permission.POWER_MODE_LEVEL"
              android:protectionLevel="normal" />
  <application android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
               android:label="@string/app_name"
               android:icon="@drawable/icon"
               android:name="com.miui.powerkeeper.PowerKeeperApplication"
               android:persistent="false"
               android:allowBackup="false"
               android:hardwareAccelerated="false"
               android:uiOptions="splitActionBarWhenNarrow"
               android:supportsRtl="true"
               android:extractNativeLibs="false"
               android:usesNonSdkApi="true">
    <property android:name="android.view.PROPERTY_MIUI_SMOOTH_CORNER_ENABLED"
              android:value="true" />
    <meta-data android:name="android.max_aspect"
               android:value="2.3" />
    <meta-data android:name="android.supports_size_changes"
               android:value="true" />
    <meta-data android:name="miui.screenOrientation"
               android:value="1.unspecified,2.portrait" />
    <provider android:name="com.miui.powerkeeper.provider.PowerKeeperConfigureProvider"
              android:permission="miui.permission.powerkeeper.HIDDEN_MODE_PROVIDER"
              android:exported="true"
              android:authorities="com.miui.powerkeeper.configure" />
    <service android:name="com.miui.powerkeeper.unionpower.UnionPowerService"
             android:enabled="true" />
    <service android:name="com.miui.powerkeeper.unionpower.traceextension.TraceExtensionService"
             android:enabled="true" />
    <service android:name="com.miui.powerkeeper.PowerKeeperBackgroundService"
             android:permission="com.miui.powerkeeper.permission.BIND_SERVICE"
             android:enabled="true"
             android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </service>
    <service android:name="com.miui.powerkeeper.feedbackcontrol.FeedbackControlService"
             android:permission="com.miui.powerkeeper.permission.BIND_SERVICE"
             android:enabled="true"
             android:exported="true" />
    <service android:name="com.miui.powerkeeper.powerchecker.PowerCheckerService"
             android:permission="com.miui.powerkeeper.permission.BIND_SERVICE"
             android:enabled="true"
             android:exported="true"
             android:singleUser="true" />
    <service android:name="com.miui.powerkeeper.resource.bigdata.resourcelight.GreenifyService"
             android:permission="com.miui.powerkeeper.permission.BIND_SERVICE"
             android:enabled="true"
             android:exported="true" />
    <service android:name="com.miui.powerkeeper.statemachine.PowerStateMachineService"
             android:permission="com.miui.powerkeeper.permission.BIND_SERVICE"
             android:enabled="true"
             android:exported="true"
             android:singleUser="true" />
    <service android:name="com.miui.powerkeeper.dfs.DfsPowerService"
             android:enabled="true" />
    <receiver android:name="com.miui.powerkeeper.PowerKeeperReceiver"
              android:exported="true">
      <intent-filter android:priority="1000">
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.ACTION_SHUTDOWN" />
      </intent-filter>
    </receiver>
    <receiver android:name=".cloudcontrol.CloudUpdateReceiver"
              android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        <action android:name="action_alarm" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.provider.Telephony.SECRET_CODE" />
        <data android:scheme="android_secret_code"
              android:host="76937" />
      </intent-filter>
    </receiver>
    <service android:name=".cloudcontrol.CloudUpdateJobService"
             android:permission="android.permission.BIND_JOB_SERVICE" />
    <service android:name=".bucket.InferAppBucketJob"
             android:permission="android.permission.BIND_JOB_SERVICE" />
    <activity android:label="@string/cloud_addr_info"
              android:name="com.miui.powerkeeper.ui.CloudInfoActivity"
              android:permission="miui.permission.powerkeeper.HIDDEN_MODE_PROVIDER"
              android:process=":ui"
              android:launchMode="singleTop"
              android:screenOrientation="portrait" />
    <service android:name="com.miui.powerkeeper.WakelockManagerService"
             android:permission="com.miui.powerkeeper.permission.BIND_SERVICE"
             android:enabled="true"
             android:exported="true"
             android:singleUser="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </service>
    <service android:name="com.miui.powerkeeper.thermal.ThermalService"
             android:enabled="true"
             android:exported="true"
             android:singleUser="true" />
    <receiver android:name=".unionpower.powerseg.BpfDataReceiver"
              android:enabled="true"
              android:exported="true">
      <intent-filter>
        <action android:name="com.miui.intent.action.BPF_DATA_TIMING_TRACK_ACTION" />
      </intent-filter>
    </receiver>
  </application>
</manifest>